xml/xslt_map.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">	<xs:element name="map">		<xs:complexType>			<xs:attribute name="format"  use="required"/>			<xs:attribute name="transform" use="required"/>		</xs:complexType>	</xs:element>	<xs:element name="transformMap">		<xs:complexType>			<xs:sequence>				<xs:element ref="map" maxOccurs="unbounded"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>