xml/nlnz/bmp.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Nichol Evans (Sytec Resources) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT ABSOLUTE (#PCDATA)>
<!ELEMENT ABSOLUTEPATH (#PCDATA)>
<!ELEMENT BITCOUNT (#PCDATA)>
<!ELEMENT BMP (METADATA, HEADER, INFORMATION)>
<!ELEMENT CANONICALPATH (#PCDATA)>
<!ELEMENT COLORS (#PCDATA)>
<!ELEMENT COMPRESSION (#PCDATA)>
<!ELEMENT DATAOFFSET (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DATEPATTERN (#PCDATA)>
<!ELEMENT DIRECTORY (#PCDATA)>
<!ELEMENT EXTENSION (#PCDATA)>
<!ELEMENT FID (#PCDATA)>
<!ELEMENT FILE (#PCDATA)>
<!ELEMENT FILELENGTH (#PCDATA)>
<!ELEMENT FILENAME (#PCDATA)>
<!ELEMENT FILESIZE (#PCDATA)>
<!ELEMENT HEADER (SIGNATURE, FILESIZE, RESERVED, DATAOFFSET)>
<!ELEMENT HEIGHT (#PCDATA)>
<!ELEMENT HIDDEN (#PCDATA)>
<!ELEMENT IMAGESIZE (#PCDATA)>
<!ELEMENT IMPORTANTCOLORS (#PCDATA)>
<!ELEMENT INFORMATION (LENGTH, WIDTH, HEIGHT, PLANES, BITCOUNT, COMPRESSION, IMAGESIZE, XRESOLUTION, YRESOLUTION, COLORS, IMPORTANTCOLORS)>
<!ELEMENT LENGTH (#PCDATA)>
<!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)>
<!ELEMENT MODIFIED (#PCDATA)>
<!ELEMENT OID (#PCDATA)>
<!ELEMENT PARENT (#PCDATA)>
<!ELEMENT PATH (#PCDATA)>
<!ELEMENT PID (#PCDATA)>
<!ELEMENT PLANES (#PCDATA)>
<!ELEMENT PROCESSOR (#PCDATA)>
<!ELEMENT READ (#PCDATA)>
<!ELEMENT RESERVED (#PCDATA)>
<!ELEMENT SEPARATOR (#PCDATA)>
<!ELEMENT SIGNATURE (#PCDATA)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TIMEPATTERN (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT URI (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT WIDTH (#PCDATA)>
<!ELEMENT WRITE (#PCDATA)>
<!ELEMENT XRESOLUTION (#PCDATA)>
<!ELEMENT YRESOLUTION (#PCDATA)>
