xml/nlnz/config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Nic Evans (Sytec Resources) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT adapter (parameter?)>
<!ATTLIST adapter
	class (nz.govt.natlib.adapter.any.DefaultAdapter | nz.govt.natlib.adapter.bmp.BitmapAdapter | nz.govt.natlib.adapter.tiff.TIFFAdapter | nz.govt.natlib.adapter.wav.WaveAdapter | nz.govt.natlib.adapter.word.OLE.WordOLEAdapter | nz.govt.natlib.adapter.word.word2.Word2Adapter | nz.govt.natlib.adapter.xml.XMLAdapter) #REQUIRED
	output-dtd (bmp.dtd | default.dtd | tiff_6_0.dtd | wav.dtd | word_3_2.dtd | word_ole.dtd) #REQUIRED
>
<!ELEMENT adapters (adapter+)>
<!ELEMENT configuration (output-directory, output-dtd?, harvester)>
<!ATTLIST configuration
	name CDATA #REQUIRED
>
<!ELEMENT configurations (configuration+)>
<!ELEMENT copyright (#PCDATA)>
<!ELEMENT harvester (title?, xml-location?, input-files?, log-dir?, copyright?)>
<!ATTLIST harvester
	class (nz.govt.natlib.meta.harvester.DefaultHarvester | nz.govt.natlib.meta.harvester.NLNZHarvester | nz.govt.natlib.meta.harvester.POCHarvester) #IMPLIED
>
<!ELEMENT input-dtd EMPTY>
<!ATTLIST input-dtd
    doc-name (bmp.dtd | default.dtd | tiff_6_0.dtd | wav.dtd | word_3_2.dtd | word_ole.dtd) #REQUIRED
>
<!ELEMENT input-files EMPTY>
<!ATTLIST input-files
	dir CDATA #REQUIRED
>
<!ELEMENT log-dir EMPTY>
<!ATTLIST log-dir
	dir CDATA #REQUIRED
>
<!ELEMENT map (input-dtd, output-dtd, xslt)>
<!ELEMENT meta-config (harvester, adapters, xslt-map, configurations)>
<!ELEMENT output-directory EMPTY>
<!ATTLIST output-directory
	dir CDATA #REQUIRED
>
<!ELEMENT output-dtd EMPTY>
<!ATTLIST output-dtd
	doc-name (dmeta.dtd | nlnz_file.xsd | pmeta.dtd) #REQUIRED
>
<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
	name CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT title EMPTY>
<!ATTLIST title
	name CDATA #REQUIRED
>
<!ELEMENT xml-location EMPTY>
<!ATTLIST xml-location
	url CDATA #REQUIRED
>
<!ELEMENT xslt EMPTY>
<!ATTLIST xslt
	doc-name (all_to_dmeta.xslt | bmp_to_pmeta.xslt | default_to_nlnz_file.xslt | default_to_pmeta.xslt | tiff_6_0_to_pmeta.xslt | wav_to_pmeta.xslt | word_2_0_to_pmeta.xslt | word_ole_to_pmeta.xslt) #REQUIRED
>
<!ELEMENT xslt-map (map+)>
