xml/nlnz/excel.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><!ELEMENT ABSOLUTE (#PCDATA)><!ELEMENT ABSOLUTEPATH (#PCDATA)><!ELEMENT APPLICATION (#PCDATA)><!ELEMENT AUTHOR (#PCDATA)><!ELEMENT CANONICALPATH (#PCDATA)><!ELEMENT COMMENTS (#PCDATA)><!ELEMENT CREATED (#PCDATA)><!ELEMENT DATE (#PCDATA)><!ELEMENT DATEPATTERN (#PCDATA)><!ELEMENT DIRECTORY (#PCDATA)><!ELEMENT EXTENSION (#PCDATA)><!ELEMENT FIBNUMBER (#PCDATA)><!ELEMENT FID (#PCDATA)><!ELEMENT FILE (#PCDATA)><!ELEMENT FILELENGTH (#PCDATA)><!ELEMENT FILENAME (#PCDATA)><!ELEMENT HEADER (MAGICNUMBER, FIBNUMBER, PRODUCTVERSION)><!ELEMENT HIDDEN (#PCDATA)><!ELEMENT KEYWORDS (#PCDATA)><!ELEMENT LASTREVIEWEDBY (#PCDATA)><!ELEMENT MAGICNUMBER (#PCDATA)><!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)><!ELEMENT MODIFIED (#PCDATA)><!ELEMENT MSEXCEL (METADATA, VERSION, SUMMARY, PROPERTIES, HEADER)><!ELEMENT OID (#PCDATA)><!ELEMENT OS (#PCDATA)><!ELEMENT PARENT (#PCDATA)><!ELEMENT PATH (#PCDATA)><!ELEMENT PID (#PCDATA)><!ELEMENT PRINTED EMPTY><!ELEMENT PROCESSOR (#PCDATA)><!ELEMENT PRODUCTVERSION (#PCDATA)><!ELEMENT PROPERTIES (CREATED, REVISION, PRINTED, OS, APPLICATION)><!ELEMENT READ (#PCDATA)><!ELEMENT REVISION (#PCDATA)><!ELEMENT SEPARATOR (#PCDATA)><!ELEMENT SUBJECT (#PCDATA)><!ELEMENT SUMMARY (TITLE, SUBJECT, KEYWORDS, COMMENTS, LASTREVIEWEDBY, AUTHOR)><!ELEMENT TIME (#PCDATA)><!ELEMENT TIMEPATTERN (#PCDATA)><!ELEMENT TITLE (#PCDATA)><!ELEMENT TYPE (#PCDATA)><!ELEMENT URI (#PCDATA)><!ELEMENT URL (#PCDATA)><!ELEMENT VERSION (#PCDATA)><!ELEMENT WRITE (#PCDATA)>