xml/nlnz/flac.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Nic Evans (Sytec Resources) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT ABSOLUTE (#PCDATA)>
<!ELEMENT ABSOLUTEPATH (#PCDATA)>
<!ELEMENT CANONICALPATH (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DATEPATTERN (#PCDATA)>
<!ELEMENT DEFAULT (METADATA)>
<!ELEMENT DIRECTORY (#PCDATA)>
<!ELEMENT EXTENSION (#PCDATA)>
<!ELEMENT FID (#PCDATA)>
<!ELEMENT FILE (#PCDATA)>
<!ELEMENT FILELENGTH (#PCDATA)>
<!ELEMENT FILENAME (#PCDATA)>
<!ELEMENT HIDDEN (#PCDATA)>
<!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)>
<!ELEMENT MODIFIED (#PCDATA)>
<!ELEMENT OID (#PCDATA)>
<!ELEMENT PARENT (#PCDATA)>
<!ELEMENT PATH (#PCDATA)>
<!ELEMENT PID (#PCDATA)>
<!ELEMENT PROCESSOR (#PCDATA)>
<!ELEMENT READ (#PCDATA)>
<!ELEMENT SEPARATOR (#PCDATA)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TIMEPATTERN (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT URI (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT WRITE (#PCDATA)>
<!ENTITY % BOOLEAN "(true|false)" >

<!ELEMENT FLAC (METADATA, FLACMETADATA)>

<!ELEMENT FLACMETADATA (STREAMINFO, APPLICATION, PADDING, SEEKTABLE, VORBIS-COMMENT, CUESHEET, PICTURE)>

<!ELEMENT STREAMINFO (MINBLOCKSIZE, MAXBLOCKSIZE, MINFRAMESIZE, MAXFRAMESIZE, SAMPLE-RATE, SAMPLE-RATE-UNIT, CHANNELS, BITSPERSAMPLE, TOTALSAMPLES, MD5)>
<!ELEMENT APPLICATION (APPLICATION-ID)>
<!ELEMENT PADDING (LENGTH)>
<!ELEMENT SEEKTABLE (SEEKPOINT*)>
<!ELEMENT SEEKPOINT (SAMPLE-NUMBER, STREAM-OFFSET, FRAME-SAMPLES)>
<!ELEMENT VORBIS-COMMENT (VENDOR-STRING, ALBUM, ARRANGER, ARTIST, AUTHOR, COMMENT, COMPOSER, CONDUCTOR, CONTACT, COPYRIGHT, DATE, DESCRIPTION, DISCNUMBER, EAN-UPN, ENCODED-BY, ENCODING, ENSEMBLE, GENRE, ISRC, LABEL, LABELNO, LICENSE, LOCATION, LYRICIST, OPUS, ORGANIZATION, PART, PARTNUMBER, PERFORMER, PUBLISHER, SOURCEMEDIA, TITLE, TRACKNUMBER, VERSION)>
<!ELEMENT CUESHEET (MEDIA-CATALOG-NUMBER, LEAD-IN-SAMPLES, IS-CD, NUMBER-OF-TRACKS, CUETRACK*)>
<!ELEMENT CUETRACK (TRACK-OFFSET, TRACK-NUMBER, ISRC, IS-AUDIO, PRE-EMPHASIS, TRACK-INDEX-POINTS, CUETRACKINDEX*)>
<!ELEMENT CUETRACKINDEX (OFFSET, NUMBER)>
<!ELEMENT PICTURE (PICTURE-TYPE, MIME-TYPE, DESCRIPTION, WIDTH, HEIGHT, COLOUR-DEPTH, COLOUR-DEPTH-UNIT, NUM-COLOURS, DATA-LENGTH)>

<!ELEMENT MINBLOCKSIZE (#PCDATA)>
<!ELEMENT MAXBLOCKSIZE (#PCDATA)>
<!ELEMENT MINFRAMESIZE (#PCDATA)>
<!ELEMENT MAXFRAMESIZE (#PCDATA)>
<!ELEMENT SAMPLE-RATE (#PCDATA)>
<!ELEMENT SAMPLE-RATE-UNIT (#PCDATA)>
<!ELEMENT CHANNELS (#PCDATA)>
<!ELEMENT BITSPERSAMPLE (#PCDATA)>
<!ELEMENT TOTALSAMPLES (#PCDATA)>
<!ELEMENT MD5 (#PCDATA)>
<!ELEMENT LENGTH (#PCDATA)>
<!ELEMENT APPLICATION-ID (#PCDATA)>
<!ELEMENT SAMPLE-NUMBER (#PCDATA)>
<!ELEMENT STREAM-OFFSET (#PCDATA)>
<!ELEMENT FRAME-SAMPLES (#PCDATA)>
<!ELEMENT VENDOR-STRING (#PCDATA)>
<!ELEMENT ALBUM (#PCDATA)>
<!ELEMENT ARRANGER (#PCDATA)>
<!ELEMENT ARTIST (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT COMMENT (#PCDATA)>
<!ELEMENT COMPOSER (#PCDATA)>
<!ELEMENT CONDUCTOR (#PCDATA)>
<!ELEMENT CONTACT (#PCDATA)>
<!ELEMENT COPYRIGHT (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DESCRIPTION (#PCDATA)>
<!ELEMENT DISCNUMBER (#PCDATA)>
<!ELEMENT EAN-UPN (#PCDATA)>
<!ELEMENT ENCODED-BY (#PCDATA)>
<!ELEMENT ENCODING (#PCDATA)>
<!ELEMENT ENSEMBLE (#PCDATA)>
<!ELEMENT GENRE (#PCDATA)>
<!ELEMENT ISRC (#PCDATA)>
<!ELEMENT LABEL (#PCDATA)>
<!ELEMENT LABELNO (#PCDATA)>
<!ELEMENT LICENSE (#PCDATA)>
<!ELEMENT LOCATION (#PCDATA)>
<!ELEMENT LYRICIST (#PCDATA)>
<!ELEMENT OPUS (#PCDATA)>
<!ELEMENT ORGANIZATION (#PCDATA)>
<!ELEMENT PART (#PCDATA)>
<!ELEMENT PARTNUMBER (#PCDATA)>
<!ELEMENT PERFORMER (#PCDATA)>
<!ELEMENT PUBLISHER (#PCDATA)>
<!ELEMENT SOURCEMEDIA (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT TRACKNUMBER (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT MEDIA-CATALOG-NUMBER (#PCDATA)>
<!ELEMENT LEAD-IN-SAMPLES (#PCDATA)>
<!ELEMENT IS-CD (#PCDATA)>
<!ELEMENT NUMBER-OF-TRACKS (#PCDATA)>
<!ELEMENT TRACK-OFFSET (#PCDATA)>
<!ELEMENT TRACK-NUMBER (#PCDATA)>
<!ELEMENT IS-AUDIO (#PCDATA)>
<!ELEMENT PRE-EMPHASIS (#PCDATA)>
<!ELEMENT TRACK-INDEX-POINTS (#PCDATA)>



