xml/nlnz/logfile.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Nic Evans (Sytec Resources) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT Comment (#PCDATA)>
<!ELEMENT Date (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT LOG (LogMessage+)>
<!ELEMENT LogMessage (ID, Date, Source, Message, Comment)>
<!ELEMENT Message (#PCDATA)>
<!ELEMENT Source (#PCDATA)>
