xml/nlnz/openoffice.dtd

<?xml version="1.0" encoding="UTF-8"?><!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><!ELEMENT ABSOLUTE (#PCDATA)><!ELEMENT ABSOLUTEPATH (#PCDATA)><!ELEMENT CANONICALPATH (#PCDATA)><!ELEMENT CLASS (#PCDATA)><!ELEMENT CONTENT (CLASS, VERSION)><!ELEMENT CREATION-DATE (#PCDATA)><!ATTLIST CREATION-DATE	format CDATA #REQUIRED><!ELEMENT DATE (#PCDATA)><!ATTLIST DATE	format CDATA #IMPLIED><!ELEMENT DATEPATTERN (#PCDATA)><!ELEMENT DESCRIPTION (#PCDATA)><!ELEMENT DIRECTORY (#PCDATA)><!ELEMENT EDITING-CYCLES (#PCDATA)><!ELEMENT EDITING-DURATION (#PCDATA)><!ELEMENT EXTENSION (#PCDATA)><!ELEMENT FID (#PCDATA)><!ELEMENT FILE (#PCDATA)><!ELEMENT FILELENGTH (#PCDATA)><!ELEMENT FILENAME (#PCDATA)><!ELEMENT GENERATOR (#PCDATA)><!ELEMENT HIDDEN (#PCDATA)><!ELEMENT KEYWORD (#PCDATA)><!ELEMENT KEYWORDS (KEYWORD)><!ELEMENT LANGUAGE (#PCDATA)><!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)><!ELEMENT MODIFIED (#PCDATA)><!ELEMENT NAME (#PCDATA)><!ELEMENT OBJECT-COUNT (#PCDATA)><!ELEMENT OID (#PCDATA)><!ELEMENT OPENOFFICE (METADATA, CONTENT, PROPERTIES)><!ELEMENT PARENT (#PCDATA)><!ELEMENT PATH (#PCDATA)><!ELEMENT PID (#PCDATA)><!ELEMENT PROCESSOR (#PCDATA)><!ELEMENT PROPERTIES (GENERATOR, TITLE, DESCRIPTION, SUBJECT, CREATION-DATE, DATE, KEYWORDS, LANGUAGE, EDITING-CYCLES, EDITING-DURATION, USER-DEFINED+, OBJECT-COUNT)><!ELEMENT READ (#PCDATA)><!ELEMENT SEPARATOR (#PCDATA)><!ELEMENT SUBJECT (#PCDATA)><!ELEMENT TIME (#PCDATA)><!ELEMENT TIMEPATTERN (#PCDATA)><!ELEMENT TITLE (#PCDATA)><!ELEMENT TYPE (#PCDATA)><!ELEMENT URI (#PCDATA)><!ELEMENT URL (#PCDATA)><!ELEMENT USER-DEFINED (NAME, VALUE)><!ELEMENT VALUE (#PCDATA)><!ELEMENT VERSION (#PCDATA)><!ELEMENT WRITE (#PCDATA)>