xml/nlnz/tiff_6_0.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Nic Evans (Sytec Resources) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT ABSOLUTE (#PCDATA)>
<!ELEMENT ABSOLUTEPATH (#PCDATA)>
<!ELEMENT CANONICALPATH (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DATEPATTERN (#PCDATA)>
<!ELEMENT DIRECTORY (#PCDATA)>
<!ELEMENT ELEMENT (NAME, TAG, LENGTH, TYPE, VALUE+)>
<!ELEMENT EXTENSION (#PCDATA)>
<!ELEMENT FID (#PCDATA)>
<!ELEMENT FILE (#PCDATA)>
<!ELEMENT FILELENGTH (#PCDATA)>
<!ELEMENT FILENAME (#PCDATA)>
<!ELEMENT HEADER (VERSION, LITTLEENDIAN)>
<!ELEMENT HIDDEN (#PCDATA)>
<!ELEMENT IMAGEFILEDIRECTORY (ELEMENT+)>
<!ELEMENT LENGTH (#PCDATA)>
<!ELEMENT LITTLEENDIAN (#PCDATA)>
<!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)>
<!ELEMENT MODIFIED (#PCDATA)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT OID (#PCDATA)>
<!ELEMENT PARENT (#PCDATA)>
<!ELEMENT PATH (#PCDATA)>
<!ELEMENT PID (#PCDATA)>
<!ELEMENT PROCESSOR (#PCDATA)>
<!ELEMENT READ (#PCDATA)>
<!ELEMENT SEPARATOR (#PCDATA)>
<!ELEMENT TAG (#PCDATA)>
<!ELEMENT TIFF (METADATA, HEADER, IMAGEFILEDIRECTORY)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TIMEPATTERN (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT URI (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT VALUE (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT WRITE (#PCDATA)>
