xml/nlnz/wav.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Nichol Evans (Sytec Resources) -->
<!--DTD generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT ABSOLUTE (#PCDATA)>
<!ELEMENT ABSOLUTEPATH (#PCDATA)>
<!ELEMENT AVERAGEBYTESPERSEC (#PCDATA)>
<!ELEMENT BITSPERSAMPLE (#PCDATA)>
<!ELEMENT CANONICALPATH (#PCDATA)>
<!ELEMENT CHANNELS (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DATEPATTERN (#PCDATA)>
<!ELEMENT DIRECTORY (#PCDATA)>
<!ELEMENT EXTENSION (#PCDATA)>
<!ELEMENT FID (#PCDATA)>
<!ELEMENT FILE (#PCDATA)>
<!ELEMENT FILELENGTH (#PCDATA)>
<!ELEMENT FILENAME (#PCDATA)>
<!ELEMENT FORMAT (#PCDATA)>
<!ELEMENT HIDDEN (#PCDATA)>
<!ELEMENT LENGTH (#PCDATA)>
<!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)>
<!ELEMENT MODIFIED (#PCDATA)>
<!ELEMENT NBLOCKALIGN (#PCDATA)>
<!ELEMENT OID (#PCDATA)>
<!ELEMENT PARENT (#PCDATA)>
<!ELEMENT PATH (#PCDATA)>
<!ELEMENT PID (#PCDATA)>
<!ELEMENT PROCESSOR (#PCDATA)>
<!ELEMENT READ (#PCDATA)>
<!ELEMENT RIFF (LENGTH, SUBTYPE)>
<!ELEMENT SAMPLESPERSEC (#PCDATA)>
<!ELEMENT SEPARATOR (#PCDATA)>
<!ELEMENT SUBTYPE (#PCDATA)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TIMEPATTERN (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT URI (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT WAV (METADATA, RIFF, WAVE)>
<!ELEMENT WAVE (TYPE, LENGTH, FORMAT, CHANNELS, SAMPLESPERSEC, AVERAGEBYTESPERSEC, NBLOCKALIGN, BITSPERSAMPLE)>
<!ELEMENT WRITE (#PCDATA)>
