xml/nlnz/word.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Nic Evans (Sytec Resources) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT ABSOLUTE (#PCDATA)>
<!ELEMENT ABSOLUTEPATH (#PCDATA)>
<!ELEMENT APPLICATION (#PCDATA)>
<!ELEMENT AUTHOR (#PCDATA)>
<!ELEMENT CANONICALPATH (#PCDATA)>
<!ELEMENT CHARACTERS (#PCDATA)>
<!ELEMENT CHARACTERSWITHSPACES (#PCDATA)>
<!ELEMENT COMMENTS (#PCDATA)>
<!ELEMENT COMPANY (#PCDATA)>
<!ELEMENT CREATED (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT DATEPATTERN (#PCDATA)>
<!ELEMENT DEFAULTLANGUAGE (#PCDATA)>
<!ELEMENT DIRECTORY (#PCDATA)>
<!ELEMENT DOPOFFSET (#PCDATA)>
<!ELEMENT EXTENSION (#PCDATA)>
<!ELEMENT EDITTIME (#PCDATA)>
<!ELEMENT FIB (DEFAULTLANGUAGE, ISTEMPLATE, ISCOMPLEX, ISENCRYPTED, HASPICTURES, ISGLOSSARY, LID, DOPOFFSET)>
<!ELEMENT FIBNUMBER (#PCDATA)>
<!ELEMENT FID (#PCDATA)>
<!ELEMENT FILE (#PCDATA)>
<!ELEMENT FILELENGTH (#PCDATA)>
<!ELEMENT FILENAME (#PCDATA)>
<!ELEMENT HASPICTURES (#PCDATA)>
<!ELEMENT HEADER (MAGICNUMBER, PRODUCTVERSION, FIBNUMBER)>
<!ELEMENT HEADINGPAIRS (#PCDATA)>
<!ELEMENT HIDDEN (#PCDATA)>
<!ELEMENT HYPERLINKS (#PCDATA)>
<!ELEMENT ISCOMPLEX (#PCDATA)>
<!ELEMENT ISENCRYPTED (#PCDATA)>
<!ELEMENT ISGLOSSARY (#PCDATA)>
<!ELEMENT ISTEMPLATE (#PCDATA)>
<!ELEMENT KEYWORDS EMPTY>
<!ELEMENT LASTREVIEWEDBY (#PCDATA)>
<!ELEMENT LID (#PCDATA)>
<!ELEMENT LINES (#PCDATA)>
<!ELEMENT LINKSUPTODATE (#PCDATA)>
<!ELEMENT MAGICNUMBER (#PCDATA)>
<!ELEMENT METADATA (FILENAME, SEPARATOR, PARENT, CANONICALPATH, ABSOLUTEPATH, PATH, FILE, DIRECTORY, FILELENGTH, HIDDEN, ABSOLUTE, URL, URI, READ, WRITE, EXTENSION, MODIFIED, DATE, DATEPATTERN, TIME, TIMEPATTERN, TYPE, PID, OID, FID, PROCESSOR)>
<!ELEMENT MODIFIED (#PCDATA)>
<!ELEMENT OID (#PCDATA)>
<!ELEMENT PAGES (#PCDATA)>
<!ELEMENT PARENT (#PCDATA)>
<!ELEMENT PARAGRAPHS (#PCDATA)>
<!ELEMENT PATH (#PCDATA)>
<!ELEMENT PID (#PCDATA)>
<!ELEMENT PRINTED EMPTY>
<!ELEMENT PROCESSOR (#PCDATA)>
<!ELEMENT PRODUCTVERSION (#PCDATA)>
<!ELEMENT PROPERTIES (CREATED, REVISION, PRINTED, REVISIONCOUNT, PAGES, WORDS, CHARACTERS, APPLICATION, EDITTIME, SECURITY, COMPANY, LINES, PARAGRAPHS, CHARACTERSWITHSPACES, LINKSUPTODATE, TITLEOFPARTS, HEADINGPAIRS, HYPERLINKS)>
<!ELEMENT READ (#PCDATA)>
<!ELEMENT REVISION (#PCDATA)>
<!ELEMENT REVISIONCOUNT (#PCDATA)>
<!ELEMENT SEPARATOR (#PCDATA)>
<!ELEMENT SECURITY (#PCDATA)>
<!ELEMENT SUBJECT (#PCDATA)>
<!ELEMENT SUMMARY (TEMPLATE, TITLE, SUBJECT, KEYWORDS, COMMENTS, LASTREVIEWEDBY, AUTHOR)>
<!ELEMENT TEMPLATE (#PCDATA)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT TIMEPATTERN (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT TITLEOFPARTS (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT URI (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT WORDOLE (METADATA, VERSION, SUMMARY, PROPERTIES, HEADER, FIB)>
<!ELEMENT WORDS (#PCDATA)>
<!ELEMENT WRITE (#PCDATA)>
